@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(275, 100%, 97%);
  background-image: url("/public/assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Work Sans", sans-serif;
}

.card-container {
  margin: 0 2rem 0 2rem;
  padding: 1.2rem;
}
.question {
  color: hsl(292, 42%, 14%);
  cursor: pointer;
}
.question:hover {
  color: rgb(176, 61, 243);
}
.open-button {
  cursor: pointer;
}
.answer {
  color: hsl(292, 16%, 49%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 576px) {
  body {
    background-image: url("/public/assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .card-container {
    padding: 2rem;
    max-width: 32rem;
  }
}
